<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-size: cover;
            background-image: url('images/extras/leaderboard.png');
            width:100%;
            background-repeat: no-repeat;
            overflow: hidden;
            resize: horizontal;
            scroll-behavior: auto;
        }
        h1 {
            color: #E3C495;
            font-size: 40px;
            font-family: "Apple Chancery";
        }
        th {
            text-align: left;
            font-weight: bold;
            font-size: 24px;
            color: #E3C495;
            font-family: "Bodoni 72 Oldstyle";
            text-align: center;
            text-decoration: underline;
        }
        td {
            text-align: left;
            font-size: 18px;
            color: #E3C495;
            font-family: "Bodoni 72 Oldstyle";
            text-align: center;
        }
        table {
            border-collapse: collapse;
            width: 70%;
            border: none;

        }
        th, td {
            padding: 2px;
        }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class ="container-fluid">
        <h1 align="center">
            <b>Top Heroes</b><br>
        </h1>
        <table align="center">
            <tr>
                <th>Username</th>
                <th>Score</th>
                <th>Health</th>
                <th>Money</th>
                <th>Weapon</th>
                <th>Item</th>
                <th>Magik</th>
                <th>Rooms Completed</th>
            </tr>
            <%for (var i = 0; i < userInfo.length; i++) {%>
            <%if (userInfo[i].user_id != winnerInfo[0].user_id) {%>
                <tr><td text-align="left"><%=userInfo[i].username%></td>
                    <td text-align="left"><%=userInfo[i].score%></td>
                    <td text-align="left"><%=userInfo[i].health%></td>
                    <td text-align="left"><%=userInfo[i].money%></td>
                    <td text-align="left"><%=userInfo[i].weapons_weapon_id%></td>
                    <td text-align="left"><%=userInfo[i].items_item_id%></td>
                    <td text-align="left"><%=userInfo[i].magiks_magik_id%></td>
                    <td text-align="left"><%=userInfo[i].numrooms%></td></tr>
            <%} else { %>
                <tr><td text-align="left"><%=userInfo[i].username%></td>
                    <td text-align="left">?</td>
                    <td text-align="left">?</td>
                    <td text-align="left">?</td>
                    <td text-align="left">?</td>
                    <td text-align="left">?</td>
                    <td text-align="left">?</td>
                    <td text-align="left">?</td></tr>
            <%}
            }%>

        </table>
    </div>
</main>

<footer>
    <style>
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 20px;
        }
    </style>
    <% include ../partials/footer %>
</footer>

</body>
</html>