<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-size: cover;
            background-image: url('images/final/<%=image%>');
            background-repeat: no-repeat;
            resize: both;
            background-origin: content-box;

        }
    </style>
</head>
<body class="container">

<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">The Hero : <b><%=hero%></b></a>
            </div>
            <div class="nav navbar-nav">
                <li><a>HP : <b><%=health%></b></a></li>
                <li><a>Gold : <b><%=gold%></b></a></li>
                <li><a>Weapon : <b><%=weapon%></b></a></li>
                <li><a>Item : <b><%=item%></b></a></li>
                <li><a>Magik : <b><%=magik%></b></a></li>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class ="container-fluid">
        <p align="center">
            <font size="5"><%=curRoom%> Outcome</font>
        </p><br>
        <p align="left">
            <font size="3"><%=outcome%></font>
        </p><br>
        <%if (health > 0) { %>
            <form align="left" class="form-horizontal" action="/room">
                <input value="Next Room" type="submit" class="btn btn-danger">
            </form><br>
        <%} else { %>
            <form align="left" class="form-horizontal" action="/end">
                <input value="You Died" type="submit" class="btn btn-danger">
            </form><br>
        <%}%>


    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>

</html>