<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <h4><%=hero%> : The Hero</h4>
    <h5>HP : <%=health%></h5>
    <h5>Gold : <%=gold%></h5>
    <h5>Weapon : <%=weapon%></h5>
    <h5>Item : <%=item%></h5>
    <h5>Magik : <%=magik%></h5>
</header>

<main>
    <div class ="container-fluid">
        <p align="center">
            <font size="5">Outcome <%=roomCounter%></font>
        </p><br>
        <p align="left">
            <font size="3">Outcome query here</font>
        </p><br>
        <form align="left" class="form-horizontal" action="/room">
        <input value="Next Room" type="submit" class="btn btn-danger">
        </form><br>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>

</html>