<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">The Hero : <%=hero%></a>
            </div>
            <div class="nav navbar-nav">
                <li><a>HP : <%=health%></a></li>
                <li><a>Gold : <%=gold%></a></li>
                <li><a>Weapon : <%=weapon%></a></li>
                <li><a>Item : <%=item%></a></li>
                <li><a>Magik : <%=magik%></a></li>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class ="container-fluid">
        <p align="center">
            <font size="5">Outcome <%=roomCounter%></font>
        </p><br>
        <p align="left">
            <font size="3">Outcome query here</font>
        </p><br>
        <form align="left" class="form-horizontal" action="/room">
        <input value="Next Room" type="submit" class="btn btn-danger">
        </form><br>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>

</html>