<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-size: cover;
            background-image: url('images/final/<%=image%>');
            background-repeat: no-repeat;
            resize: both;
            background-origin: content-box;
            <%if (curRoom == "HOLE" || curRoom == "FEAST" || curRoom == "POTIONS") {%>
                color: white;
            <%} else {%>
                color: darkgrey;
            <%}%>
            background-position: top;
            background-origin: content-box;
            font-size: 16px;
        }
    </style>
</head>
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">The Hero : <b><%=hero%></b></a>
            </div>
            <div class="nav navbar-nav">
                <li><a>HP : <b><%=health%></b></a></li>
                <li><a>Gold : <b><%=gold%></b></a></li>
                <li><a>Weapon : <b><%=weapon%></b></a></li>
                <li><a>Item : <b><%=item%></b></a></li>
                <li><a>Magik : <b><%=magik%></b></a></li>
                <li><a>Power : <b><%=str%></b></a></li>
                <li><a>Weight : <b><%=weight%></b></a></li>
            </div>
        </div>
    </nav>
</header>
<body class="container">
<main>
    <div class ="container-fluid">
        <p align="center">
            <br>
            <font size="5">Room <%=roomCounter%>: <%=room%></font>
        </p><br>
        <p align="left">
            <%=event%><br>
            <%if(room == "GNOME" || room == "CHOOSEAROOM"){%>
            <br>
            <%=poem%>
            <br>
            <%}%>
        </p><br>
        <%if((room == "DOG" && weapon != "Fists") || (room == "HELICOPTER" && weapon != "Fists") || (room != "DOG" && room != "HELICOPTER")){%>
        <form align="left" class="form-horizontal" action="/outcome">
            <input hidden id="choice_id" name="choice_id" value="<%=choices[0].choice_id %>">
            <input value="Option A" name="a" type="submit" class="btn btn-danger">
            <label name="optionA" for="outcomeA"><%=choices[0].choice%></label>
            <%if(room == "GNOME"){%>
            <input id="solution" type="text" name="solution" placeholder="Enter your answer" required>
            <%}%>
            <%if(room == "DARKWIZARD"){%>
            <input id="bribe" type="text" name="bribe" placeholder="Input your bribe" required>
            <%}%>
        </form><br>
        <%}%>
        <%if((room == "CAMPFIRE" && weapon != "Fists") || (room != "CAMPFIRE")){%>
        <form align="left" class="form-horizontal" action="/outcome">
            <input hidden id="choice_id" name="choice_id" value="<%=choices[1].choice_id %>">
            <input value="Option B" name="b" type="submit" class="btn btn-danger">
            <label name="optionB" for="outcomeB"><%=choices[1].choice%></label>
            <%if(room == "CHOOSEAROOM"){%>
            <input id="solution" type="text" name="solution" placeholder="Enter your answer" required>
            <%}if(room == "THRONE"){%>
            <input id="bribe" type="text" name="bribe" placeholder="Enter your offer" required>
            <%}%>
        </form><br>
        <%}%>
        <%if((room == "SEASHELL" && magik != "None")||(room == "HOLE" && weapon != "Fists") || (room == "DRYAD" && magik != "None") || (room == "CAMPFIRE" && magik != "None") || (room == "HELICOPTER" && magik != "None")||(room != "CAMPFIRE" && room != "DRYAD" && room != "HOLE" && room != "SEASHELL" && room != "HELICOPTER")){%>
        <form align="left" class="form-horizontal" action="/outcome">
            <input hidden id="choice_id" name="choice_id" value="<%=choices[2].choice_id %>">
            <input value="Option C" name="c" type="submit" class="btn btn-danger">
            <label name="optionC" for="outcomeC"><%=choices[2].choice%></label>
        </form><br>
        <%}%>
        <%console.log(room);%>
        <%if((room == "LADDERS" && magik != "None") || (room == "HOLE" && magik != "None") || (room == "DOG" && item != "None")||(room != "DOG" && room != "LADDERS" && room != "HOLE" && room != "CHEST" && room != "THRONE") || (room == "CHEST" && magik != "None") || (room == "THRONE" && (weapon == "??? Staff" || item == "Shell" || item == "Grief Orb" || item == "Eternal Flame" || item == "Atomic Bomb" || item == "Frenzy Seed" || item == "Fluffy Cloud" || item == "Pure Orb"))){ %>
        <form align="left" class="form-horizontal" action="/outcome">
            <input hidden id="choice_id" name="choice_id" value="<%=choices[3].choice_id %>">
            <input value="Option D" name="d" type="submit" class="btn btn-danger">
            <label name="optionD" for="outcomeD"><%=choices[3].choice%></label>
            <%if(room == "SEASHELL"){%>
            <input id="solution" type="text" name="solution" placeholder="Enter the secret phrase" required>
            <%}%>
            <%if(room == "SALESMAN"){%>
            <input id="bribe" type="text" name="bribe" placeholder="Enter your offer" required>
            <%}%>
        </form><br>
        <%}%>
    </div>
</main>

<footer>
    <style>
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 20px;
        }
    </style>
    <% include ../partials/footer %>
</footer>

</body>
</html>