<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <style>
        body {
            background-size: cover;
            background-image: url('images/final/<%=image%>');
            background-repeat: no-repeat;
            resize: both;
            background-origin: content-box;
            color: whitesmoke;
        }
    </style>
</head>
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">The Hero : <b><%=hero%></b></a>
            </div>
            <div class="nav navbar-nav">
                <li><a>HP : <b><%=health%></b></a></li>
                <li><a>Gold : <b><%=gold%></b></a></li>
                <li><a>Weapon : <b><%=weapon%></b></a></li>
                <li><a>Item : <b><%=item%></b></a></li>
                <li><a>Magik : <b><%=magik%></b></a></li>
            </div>
        </div>
    </nav>
</header>
<body class="container">
<main>
    <div class ="container-fluid">
        <p align="center">
            <br>
            <font size="5">Room <%=roomCounter%>: <%=room%></font>
        </p><br>
        <p align="left">
            <font size="3"><%=event%></font><br>
            <%if(room == "GNOME" || room == "CHOOSEAROOM"){%>
            <%=poem%>
            <%}%>
        </p><br>

        <form align="left" class="form-horizontal" action="/outcome">
            <input hidden id="choice_id" name="choice_id" value="<%=choices[0].choice_id %>">
            <input value="Option A" name="a" type="submit" class="btn btn-danger">
            <label name="optionA" for="outcomeA"><%=choices[0].choice%></label>
            <%if(room == "GNOME"){%>
            <input id="solution" type="text" name="solution" placeholder="Enter your answer" required>
            <%}%>
            <%if(room == "DARKWIZARD"){%>
            <input id="bribe" type="text" name="bribe" placeholder="Input your bribe" required>
            <%}%>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input hidden id="choice_id" name="choice_id" value="<%=choices[1].choice_id %>">
            <input value="Option B" name="b" type="submit" class="btn btn-danger">
            <label name="optionB" for="outcomeB"><%=choices[1].choice%></label>
            <%if(room == "CHOOSEAROOM"){%>
            <input id="solution" type="text" name="solution" placeholder="Enter your answer" required>
            <%}%>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input hidden id="choice_id" name="choice_id" value="<%=choices[2].choice_id %>">
            <input value="Option C" name="c" type="submit" class="btn btn-danger">
            <label name="optionC" for="outcomeC"><%=choices[2].choice%></label>
        </form><br>
        <%if((room != "CHEST" && room != "ROOM10") || (room == "CHEST" && magik != null) || (room == "ROOM10" && (weapon == "??? Staff" || item != "Shell" || item != "Grief Orb" || item != "Eternal Flame" || item != "Atomic Bomb" || item != "Frenzy Seed" || item != "Fluffy Cloud" || item != "Pure Orb"))){ %>
        <form align="left" class="form-horizontal" action="/outcome">
            <input hidden id="choice_id" name="choice_id" value="<%=choices[3].choice_id %>">
            <input value="Option D" name="c" type="submit" class="btn btn-danger">
            <label name="optionD" for="outcomeD"><%=choices[3].choice%></label>
            <%if(room == "SEASHELL"){%>
            <input id="solution" type="text" name="solution" placeholder="Enter the secret phrase" required>
            <%}%>
        </form><br>
        <%}%>
    </div>
</main>
</body>
</html>