<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">The Hero : <%=hero%></a>
            </div>
            <div class="nav navbar-nav">
                <li><a>HP : <%=health%></a></li>
                <li><a>Gold : <%=gold%></a></li>
                <li><a>Weapon : <%=weapon%></a></li>
                <li><a>Item : <%=item%></a></li>
                <li><a>Magik : <%=magik%></a></li>
            </div>
        </div>
    </nav>
</header>
<body class="container">

<main>
    <div class ="container-fluid">
        <p align="center">
            <br>
            <font size="5">Room <%=roomCounter%>: <%=room%></font>
        </p><br>
        <p align="left">
            <font size="3">Room prompt query here</font>
        </p><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option A" type="submit" class="btn btn-danger">
            <label name="optionA" for="outcomeA">Option A query goes here</label>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option B" type="submit" class="btn btn-danger">
            <label name="optionB" for="outcomeB">Option B query goes here</label>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option C" type="submit" class="btn btn-danger">
            <label name="optionC" for="outcomeC">Option C query goes here</label>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option D" type="submit" class="btn btn-danger">
            <label name="optionD" for="outcomeD">Option D query goes here</label>
        </form><br>

    </div>
</main>
</body>
</html>