<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">The Hero : <b><%=hero%></b></a>
            </div>
            <div class="nav navbar-nav">
                <li><a>HP : <b><%=health%></b></a></li>
                <li><a>Gold : <b><%=gold%></b></a></li>
                <li><a>Weapon : <b><%=weapon%></b></a></li>
                <li><a>Item : <b><%=item%></b></a></li>
                <li><a>Magik : <b><%=magik%></b></a></li>
            </div>
        </div>
    </nav>
</header>
<body class="container">

<main>
    <div class ="container-fluid">
        <p align="center">
            <br>
            <font size="5">Room <%=roomCounter%>: <%=room%></font>
        </p><br>
        <p align="left">
            <font size="3"><%=event%></font>
        </p><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option A" name="a" type="submit" class="btn btn-danger">
            <label name="optionA" for="outcomeA"><%=choices[0].choice%></label>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option B" name="b" type="submit" class="btn btn-danger">
            <label name="optionB" for="outcomeB"><%=choices[1].choice%></label>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option C" name="c" type="submit" class="btn btn-danger">
            <label name="optionC" for="outcomeC"><%=choices[2].choice%></label>
        </form><br>
        <form align="left" class="form-horizontal" action="/outcome">
            <input value="Option D" name="d" type="submit" class="btn btn-danger">
            <label name="optionD" for="outcomeD"><%=choices[3].choice%></label>
        </form><br>

    </div>
</main>
</body>
</html>